

@keyframes mymove {
    0%   {right: 0px; opacity:0}
    25%  {right: 20vw;}
    50%  {right: 1vw; opacity: 1;}
    75%  {right: 20vw;}
    100% {right: 0px; opacity: 0}
  }




.alertheading{
    display:block;
    
    color:rgb(211, 43, 226);
    background-color: rgb(240, 248, 246);
    padding: 10px 50px;
    
    box-shadow: 1px 1px 12px 3px #2b8beb;
    border-radius:4px;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.15em;
    font-style: italic;
  
    position: absolute;
    
    top:65px;
}

.alertAnimation{
   
    animation: mymove 5s infinite;
}

.alertnone{

    display:none;
}




@media screen and (max-width:700px) {

    .alertheading{
        padding:10px 15px;
        font-size: 0.8em;
        top:35vh;
        box-shadow: 0px 0px 100px 55px rgb(93, 91, 91);
        border-radius: 20px;
    }
    
}